<div id="signup">
	<div id="social">
		<div>
			<button type="button">Connect with Facebook</button>
		</div>
		<span>Or sign up with</span>
	</div>
	<div id="signup-form">
		<input type="text" placeholder="First Name"></input>
		<input type="text" placeholder="Last Name"></input>
		<input type="text" placeholder="Email"></input>
		<input type="password" placeholder="password"></input>
		<span>By creating an account, you agree to our <a href="#">Terms & Conditions</a></span>
	</div>
</div>